body { margin:0; padding:0; }


/*#map { position: absolute; top:0; bottom:0; right:0; left:0; }*/

#map {
width: 100%;
position: absolute;
height: 800px;
margin:0;
padding:0; 
/*border: 1px solid black;
border-radius: 8px;*/
}




/* http://bl.ocks.org/mourner/4284949 */

.leaflet-marker-icon,
    .leaflet-marker-shadow {
      -webkit-transition: margin 0.2s;
         -moz-transition: margin 0.2s;
           -o-transition: margin 0.2s;
              transition: margin 0.2s;
    } 