body { margin:0; padding:0; }



body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*#map { position: absolute; top:0; bottom:0; right:0; left:0; }*/

#map, #map2 {
width: 100%;
position: absolute;
height: 700px;
margin:0;
padding:0; 
/*border: 1px solid black;
border-radius: 8px;*/
}

.wrap{
	height: 750px;

}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@media (max-width: 768px) { 
	#map, #map2 {
		width: 100%;
		position: absolute;
		height: 400px;
		margin:0;
		padding:0; 
		/*border: 1px solid black;
		border-radius: 8px;*/
	}
}



.myform {
	padding-top: 15px;
	padding-left: 35px;
}




label {
	padding-top: 10px;
}



/* http://bl.ocks.org/mourner/4284949 */

.leaflet-marker-icon,
    .leaflet-marker-shadow {
      -webkit-transition: margin 0.2s;
         -moz-transition: margin 0.2s;
           -o-transition: margin 0.2s;
              transition: margin 0.2s;
    } 